<%- include("../partials/header.ejs") %>

<div class='song-page'>
  <h2 class='songPage-title'><%= content.title %></h2>
  <p class='songPage-artist'><%= content.artist %></p>
  <p class='songPage-stream'><%= content.streams %></p>
</div>

<div class="buttons">
  <% if (content.rank > 1) { %>
    <button><a href="<%= `./${content.rank - 1}` %>">Previous</a></button>
  <% } %> 
  <% if (content.rank < 50) { %>
    <button><a href="<%= `./${content.rank + 1}` %>">Next</a></button>
  <% } %> 
</div>

<%- include("../partials/footer.ejs") %> 

<!-- Turnary operators I didn't use
> 0 ? content.rank - 1 : content.rank
< 51 ? content.rank + 1 : content.rank -->